PORT=3001
NODE_ENV=development
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
SUPABASE_URL=https://ibbrknipfisyfpgtxtks.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImliYnJrbmlwZmlzeWZwZ3R4dGtzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIzMDgxNjksImV4cCI6MjA5Nzg4NDE2OX0.wFf9imCeKZQxwJbYzpwTDfE7VIMoqLzcwlEk5dMFOk0
ADMIN_PASSWORD=July2026

SUPABASE_ARTWORKS_BUCKET=products
SUPABASE_PROFILES_BUCKET=profiles

RESEND_API_KEY=your_resend_api_key_here
EMAIL_USER=your_email_user_here
EMAIL_PASS=your_email_pass_here
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key_here
